[submodule "libs/cppjieba/deps/limonp"]
	path = libs/cppjieba/deps/limonp
	url = https://github.com/yanyiwu/limonp.git
[submodule "solutions"]
	path = solutions
	url = https://github.com/GitHub-Zero123/mcdk-solutions
